<%= form_for([@budget, @weekly_budget]) do |f| %>

    <% if @weekly_budget.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@weekly_budget.errors.count, "error") %> prohibited this weekly_budget from being saved:</h2>

        <ul>
        <% @weekly_budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= f.label :weekno %><br />
    <%= f.number_field :weekno %>
  </div>

  <div class="field">
    <%= f.label :start_fund %><br />
    <%= f.text_field :start_fund %>
  </div>
  <div class="field">
    <%= f.label :current_fund %><br />
    <%= f.text_field :current_fund %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
