<p id="notice"><%= notice %></p>

<p>
  <b>Weekno:</b>
  <%= @weekly_budget.weekno %>
</p>

<p>
  <b>Budget:</b>
  <%= @weekly_budget.budget_id %>
</p>

<p>
  <b>Start fund:</b>
  <%= @weekly_budget.start_fund %>
</p>

<p>
  <b>Current fund:</b>
  <%= @weekly_budget.current_fund %>
</p>

<% if @budget.nil? %>
    <%= link_to 'Edit', edit_weekly_budget_path(@weekly_budget) %> |
    <%= link_to 'Back', weekly_budgets_path %>
<%else%>

    <%= link_to 'Edit', edit_budget_weekly_budget_path(@budget, @weekly_budget) %> |
    <%= link_to 'Back', budget_weekly_budgets_path(@budget) %>
  <% end %>
